.Rproj.user
.Rhistory
.RData
.Ruserdata
fact_loading_10fac.csv
fact_loading_6fac.csv
00_Prin_Axis.docx
11_Prin_Axis.docx
2-RegSEM_files
2-RegSEM.docx
descriptive_demographic_WO_POP_SIZE.xlsx
descriptive_demographic_2.csv
descriptive_demographic_WO_POP_SIZE.csv
SurveyReport-10640347-07-12-2023-T114540.034.csv
